*{
	padding: 0;
}
body
{
	background: #e6e7e7;
}
.jumbotron 
{
	height: 250px;
	min-width: fit-content;
	max-width: 1500px;
	margin-top: 15px;
	background-image:linear-gradient(rgba(105,150,200,0.4),rgba(105,150,200,0.1)), url("../image/bg.jpg");
	background-size: cover;

}
.gtext
{	
	line-height:250px;
	font-size: 50px;
	color: #edeeef;
	font-weight: bold;
}
.container-lg
{
	width: 100%;
}
.container
{
	width: 100%;
	margin:auto;
	padding: auto;
	display: flex;
	/*flex-direction: row;*/
	flex-wrap: wrap;
}
.container .box
{
	height: 260px;
	margin-bottom: 5px;
	box-sizing: border-box;
	display: inline-block;
	/*box-shadow: 0 0 18px 2px rgba(106, 150, 300, 1.5);*/
} 
.box .imgbox
{
	position: relative;
	overflow:hidden;
	cursor: pointer;
	/*border-radius: 10px 10px 0px 0px;*/
	max-width: 100%;
}
.box .imgbox img
{
	max-width: 100%;
	transition: transform 0.5s;

}
.box:hover .imgbox img
{
	transform: scale(1.2) ;
}
.desc
{
	background-color: #74b9ff;
	padding: 15px;
	text-align: center;
}